.radio-wrapper {
    border-radius: .2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
}

.radio-inner {
   background-color: var(--input-base);
   border: 1px solid var(--input-stroke);
   border-radius: .2rem;

   gap: 0.5rem;
    
   padding: .90rem 1rem;

   display: grid;
   align-items: center;
   justify-content: center;
    
    position: relative;
    & input,
    & input:focus,
    & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
    }


    & label{
        justify-self: center;
        align-items: center;
    }


    .radio-image {
        background-image: url(../../assets/icons/building.svg);
      
        position: absolute;
        
        padding-right: 1rem;
        
        left: .5rem;
        width: 1.5rem;
        height: 1.5rem;

    }

    .radio-image-2 {
        background-image: url(../../assets/icons/video.svg);
       
        position: absolute;

        left: .5rem;
        width: 1.5rem;
        height: 1.5rem;
    }

    &:hover, &:focus-within {
        border: 1px solid var(--brand-light);

        & .radio-image {
            background-image: url(../../assets/icons/building-hover.svg);
        }

        & .radio-image-2 {
            background-image: url(../../assets/icons/video-hover.svg);
        }
    }

    &:has(:checked) {
        border: 1px solid var(--brand-light);

        & .radio-image {
            background-image: url(../../assets/icons/building-hover.svg);
        }

        & .radio-image-2 {
            background-image: url(../../assets/icons/video-hover.svg);
        }
    }
}


.check-wrapper {
    display: flex;
    
    

    position: relative;
    & input,
    & input:focus,
    & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
    }



    .check-image {
        background-image: url(../../assets/icons/check-1-hover.svg);
        background-repeat: no-repeat;
        position: absolute;

        left: 0;
        width: 1.5rem;
        height: 1.5rem;
    }
    
    &:has(:checked) {
        
            & .check-image {
                background-image: url(../../assets/icons/check-hover.svg);
            }
    }

    & p {
        margin-left: 2rem;
    }
}