main {
    overflow: auto;
    padding: 0.1rem;
    

    background-color: var(--shape-background);
    
    & .main-container {
        max-width: 35rem;
        margin: 8.125rem;
        color: white;
    }

    h1 {
        font: var(--heading-md);
        color: var(--text-heading);
    }
}

