main {
    overflow: auto;
    padding: 0.1rem;
    

    background-color: var(--shape-background);
    
    & .main-container {
        max-width: 35rem;
        margin: 8.125rem;
        color: white;
    }

    h1 {
        font: var(--heading-md);
        color: var(--text-heading);
    }
}

.divider {
    width: 100%;
    height: 0.06rem;
    margin: 2.25rem 0;
    background-color: var(--input-stroke);
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}